.header {
    display: flex;
    background-color: rgb(50, 167, 145);
    justify-content: space-between;
    align-items: center;
    padding: 10px 90px;
}

.header h1 {
    text-align: center;
    font-size: 40px;
    color: #fff;
}
 
.header img {
    width: 80px;
 }

 .trybewarts-login input {
    font-size: 14px;
    background-color: #fff;
    width: 20%;
    border-radius: 5px;
    border: none;
    padding: 12px 10px;
    font-weight: bold;
 }


 .trybewarts-login button{
    width: 20%;
    border-radius: 5px;
    border: none;
    padding: 12px 10px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(105, 14, 190);
 }
