.header {
    display: flex;
    background-color: rgb(50, 167, 145);
    justify-content: space-between;
    align-items: center;
    padding: 10px 90px;
}

form{
  display: flex;
}

main {
  display: flex;
  background-color: rgb(239, 239, 239);
}

#trybewarts-forms-logo {
  height: 500px;
  margin: auto;
  margin-top: 50px;
  flex-wrap: wrap;
}

.header img {
  width: 80px;
}

#trybewarts-header-title{
  text-align: center;
    font-size: 40px;
    color: #fff;
}

#evaluation-form {
  display: flex;
  border: solid 2px;
  width: 675px;
  flex-direction: column;
  margin-top: 40px;
  text-align: center;
  align-content: center;

}

.trybewarts-login input {
  font-size: 14px;
  background-color: #fff;
  width: 20%;
  border-radius: 5px;
  border: none;
  padding: 12px 10px;
  font-weight: bold;
}


.trybewarts-login button{
  width: 20%;
  border-radius: 5px;
  border: none;
  padding: 12px 10px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(105, 14, 190);
}

#input-name {
  width: 35%;
  padding: 10px;
  border: none;
  margin: 10px;
}

#input-lastname {
  width: 35%;
  padding: 10px;
  border: none;
  margin: 10px;
}

#input-email {
  width: 35%;
  padding: 10px;
  border: none;
  margin: 10px;
}

#house {
  width: 32%;
  padding: 10px;
  border: none;
  margin: 10px;
  background-color : white;
}

